<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- thymeleaf common header -->
<div th:include="fragments/table :: table"></div>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Book Management</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                            <li class="breadcrumb-item active">Book Management</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-book">
                                        Add Book
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Book Author</th>
                                        <th>Book Release Date</th>
                                        <th>Book Number</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>


                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- /.modal Add Book Modal -->
<div class="modal fade" id="add-book">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Book</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/saveBook}" th:object="${book}" method="post" id="add-book-form">
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Name</label>
                                <input  id="bookName" name="bookName" type="text" class="form-control" placeholder="Enter ..." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Author</label>
                                <input id="bookAuthor" name="bookAuthor" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Release Date</label>
                                <input id="bookReleaseDate" name="bookReleaseDate" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Cover Image</label>
                                <input id="bookCoveImage" name="bookCoveImage" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Book Type</label>
                                <select id="bookType" name="bookType" class="custom-select">
                                    <option value="children">Children</option>
                                    <option value="fiction">Fiction</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="mystery">Mystery</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Book Language</label>
                                <select id="bookLanguage" name="bookLanguage" class="custom-select">
                                    <option value="English">English</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="French">French</option>
                                    <option value="German">German</option>
                                    <option value="Italian">Italian</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Spanish">Spanish</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Is it set as home page ad?</label>
                                <select id="isAd" name="isAd" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Set as latest book?</label>
                                <select id="isNew" name="isNew" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Set as most popular book?</label>
                                <select id="isHot" name="isHot" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-sm">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Book Introduction</label>
                                <textarea id="bookIntroduction" name="bookIntroduction" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" id="add-cancel-button" class="btn btn-default float-right">Cancel</button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.modal Edit Book Modal -->
<div class="modal fade" id="edit-book">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Book</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  id="edit-book-form">
                    <input type="hidden" id="bookId" name="id">
                    <input type="hidden" id="bookNumber-edit" name="bookNumber">
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Name</label>
                                <input  id="bookName-edit" name="bookName" type="text" class="form-control" placeholder="Enter ..." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Author</label>
                                <input id="bookAuthor-edit" name="bookAuthor" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Release Date</label>
                                <input id="bookReleaseDate-edit" name="bookReleaseDate" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Book Cover Image</label>
                                <input id="bookCoveImage-edit" name="bookCoveImage" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Book Type</label>
                                <select id="bookType-edit" name="bookType" class="custom-select">
                                    <option value="children">Children</option>
                                    <option value="fiction">Fiction</option>
                                    <option value="fantasy">Fantasy</option>
                                    <option value="mystery">Mystery</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Book Language</label>
                                <select id="bookLanguage-edit" name="bookLanguage" class="custom-select">
                                    <option value="English">English</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="French">French</option>
                                    <option value="German">German</option>
                                    <option value="Italian">Italian</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Spanish">Spanish</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Is it set as home page ad?</label>
                                <select id="isAd-edit" name="isAd" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Set as latest book?</label>
                                <select id="isNew-edit" name="isNew" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- select -->
                            <div class="form-group">
                                <label>Set as most popular book?</label>
                                <select id="isHot-edit" name="isHot" class="custom-select">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-sm">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Book Introduction</label>
                                <textarea id="bookIntroduction-edit" name="bookIntroduction" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" id="edit-button">Submit</button>
                        <button type="button"  id="edit-cancel-button" class="btn btn-default float-right">Cancel</button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Page specific script -->
<script>


    $(document).ready(function() {
        $('#example2').DataTable({
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "paging": true,
            "searching": false,
            "pageLength": 5,
            "ajax": {
                "url": "/bookInfos",
                "data": function(d) {
                    d.start = d.start || 0;
                    d.length = d.length || 5;
                }
            },
            "columns": [
                { "data": "bookName" },
                { "data": "bookAuthor" },
                { "data": "bookReleaseDate" },
                { "data": "bookNumber" },
                {
                    "data": null,         // 此列不绑定数据
                    "orderable": false,   // 设置不可排序
                    "render": function(data, type, row) {
                        // data 为当前行的所有数据对象
                        return `
                    <button class="btn btn-primary btn-sm add-btn" data-id="${row.id}">Manage Chapter</button>
                    <button class="btn btn-warning btn-sm edit-btn" data-id="${row.id}">Edit</button>
                    <button class="btn btn-danger btn-sm delete-btn" data-id="${row.id}">Delete</button>
                `;
                    }
                }
            ]
        });
    });





    $('#add-cancel-button').on('click', function() {
        $('#add-book-form').trigger("reset");  // clean from
        $('#add-book').modal('hide');    // hidden modal
    });


    $('#edit-cancel-button').on('click', function() {
        $('#edit-book-form').trigger("reset");  // clean from
        $('#edit-book').modal('hide');    // hidden modal
    });

    $('#example2').on('click', '.edit-btn', function() {
        const id = $(this).data('id');
        // 处理编辑操作，弹出编辑表单等
        $.ajax({
            url: '/bookInfo/' + id,
            type: 'GET',
            success: function(book) {
                $('#bookId').val(book.id);
                $('#bookName-edit').val(book.bookName);
                $('#bookAuthor-edit').val(book.bookAuthor);
                $('#bookReleaseDate-edit').val(book.bookReleaseDate);
                $('#bookCoveImage-edit').val(book.bookCoveImage);
                $('#bookType-edit').val(book.bookType);
                $('#bookLanguage-edit').val(book.bookLanguage);
                $('#isAd-edit').val(book.isAd);
                $('#isNew-edit').val(book.isNew);
                $('#isHot-edit').val(book.isHot);
                $('#bookIntroduction-edit').val(book.bookIntroduction);
                $('#bookNumber-edit').val(book.bookNumber);
                $('#edit-book').modal('show'); // 打开模态框
            }
        });

    });

    $('#edit-button').on('click', function() {
        // get from data
        const bookData = {
            id: $('#bookId').val(),
            bookName: $('#bookName-edit').val(),
            bookNumber: $('#bookNumber-edit').val(),
            bookAuthor: $('#bookAuthor-edit').val(),
            bookReleaseDate: $('#bookReleaseDate-edit').val(),
            bookCoveImage: $('#bookCoveImage-edit').val(),
            bookType: $('#bookType-edit').val(),
            bookLanguage: $('#bookLanguage-edit').val(),
            isAd: $('#isAd-edit').val(),
            isNew: $('#isNew-edit').val(),
            isHot: $('#isHot-edit').val(),
            bookIntroduction: $('#bookIntroduction').val()

        };

        // send request
        $.ajax({
            url: `/editBook/${bookData.id}`, // API Update
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(bookData),
            success: function(response) {
                // 请求成功，关闭模态框并刷新表格
                $('#edit-book').modal('hide');
                $('#edit-book-form').trigger("reset"); // clean from
                $('#example2').DataTable().ajax.reload(); // reload DataTable
                alert("Edit Success！");
            },
            error: function(xhr, status, error) {
                console.error("Edit failed:", error);
                alert("Edit Failed");
            }
        });
    });

    $('#example2').on('click', '.delete-btn', function() {
        const id = $(this).data('id');
        // 处理删除操作，弹出确认框等
        if (confirm("Are you sure you want to delete this record？")) {
            $.ajax({
                url: `/deleteBook/${id}`,
                type: 'DELETE',
                success: function(response) {
                    // reload table
                    $('#example2').DataTable().ajax.reload();
                },
                error: function(xhr, status, error) {
                    alert("Delete Failed");
                }
            });
        }
    });


    $('#example2').on('click', '.add-btn', function() {
        const id = $(this).data('id');
        window.location.href = '/chapter/' + id;
    });


</script>
</body>
</html>
